name: Format

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npm run format-check
