name: TypeScript CI

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/format.yaml'
      - '**.ts'
      - 'package*.json'
      - '.prettierrc'
  pull_request:
    paths:
      - '.github/workflows/format.yaml'
      - '**.ts'
      - 'package*.json'
      - '.prettierrc'
  workflow_dispatch:

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # https://github.com/actions/setup-node/issues/206#issuecomment-774538395
      - uses: nodenv/actions/node-version@main
        id: nodenv
      - uses: actions/setup-node@v3
        with:
          node-version: '${{ steps.nodenv.outputs.node-version }}'

      - run: npm ci
      - run: npm run format-check
